<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="INSane.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="CLIENT_HOSTNAME" value="SERVER_HOSTNAME" />
  </appSettings>
  <userSettings>
    <INSane.Properties.Settings>
      <setting name="source" serializeAs="String">
        <value>Adf-Duplex</value>
      </setting>
      <setting name="mode" serializeAs="String">
        <value>Gray</value>
      </setting>
      <setting name="resolution" serializeAs="String">
        <value>240</value>
      </setting>
      <setting name="pageAuto" serializeAs="String">
        <value>true</value>
      </setting>
      <setting name="blankPageSkip" serializeAs="String">
        <value>true</value>
      </setting>
      <setting name="blankPageSkipSensitivity" serializeAs="String">
        <value>5</value>
      </setting>
    </INSane.Properties.Settings>
  </userSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>