<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="CLIENT_HOSTNAME" value="SERVER_HOSTNAME" />
  </appSettings>
  <scannerSettings>
	<setting key="source" value="Adf-duplex" />
	<setting key="mode" value="Gray" />
	<setting key="resolution" value="240" />
	<setting key="pageAuto" value="True" />
	<setting key="blankPageSkip" value="True" />
	<setting key="blankPageSkipSensitivity" value="5" />
  </scannerSettings>
</configuration>